body {
  margin: 0;
  margin-top: 4.5%;
  font-family: -apple-system, BlinkMacSystemFont,'Oswald', sans-serif;
  color: rgb(29, 29, 32);
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0.76);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
